.article_container{
    margin: auto;
    width: 90%;
    max-width: 1400px;
   main{
    //    display: grid;
       background: #fff;
       margin: 35px 0 0;
       padding: 20px;
    //    height: auto;
       height: 1000px;
   }
}
