div.movil__phone    
    p.movil__p ¡Llámanos ahora! Sto. Dgo. 
        a(href="tel:+8092216786").movil__link  Sto. Dgo. 809-221-6786 |
        a(href="tel:+8095753535").movil__link Stgo 809-575-3535 |
        
div.social__media
    a(href='#').social__link: img(src="/img/facebook.svg", alt="facebook").social__img
    a(href='#').social__link: img(src="/img/microsoft365.svg", alt="microsoft365").social__img
    a(href="mailto:info@unev.edu.do").social__link: img(src="/img/twiter.svg", alt="twiter").social__img 